
@{
    //Layout = null;
}


    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.css" rel="stylesheet"/>
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet"/>
    <link href="~/Content/htyle.css" rel="stylesheet" />
<style>
    .carousel-inner img {
        width: 100%;
        height: 550px;
    }
</style>
<script type="text/javascript">
    $('.carousel').carousel({
        interval: 500
    }) </script>

<body>
<div>
<div class="main-body">


    <div class="container">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 recent">
                        <p>NEWS</p>
                    </div>
                    <div class="col-lg-11">

                        <div class="marq-section">


                            <marquee behavior="" direction="" class="marq">

                                Admission going on for jan-july session 2020 <button class="btn btn-primary">See More</button>
                                Mid Term exam will be held 28th September 2020 <button class="btn btn-primary">See More</button>
                                Admission going on for jan-july session 2020 <button class="btn btn-primary">See More</button>
                                Mid Term exam will be held 28th September 2020 <button class="btn btn-primary">See More</button>
                                Admission going on for jan-july session 2020<button class="btn btn-primary">See More</button>
                                Mid Term exam will be held 28th September 2020<button class="btn btn-primary">See More</button>
                                Admission going on for jan-july session 2020 <button class="btn btn-primary">See More</button>

                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="logo-section">
                    <img src="~/picture/logo.png" alt="">
                </div>
            </div>

            <div class="col-lg-5">
                <div class="bgc-image">
                    <img src="~/picture/bgc11.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</div>



    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/picture/8189.jpg" alt="Los Angeles">
            </div>
            <div class="carousel-item">
                <img src="~/picture/8243.jpg" alt="Chicago">
            </div>
            <div class="carousel-item">
                <img src="~/picture/8244.jpg" alt="New York">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>


<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8">
                <div class="single_about_info">
                    <h3>Message from <br>
                        <b>Founder and Chairman</b>
                    </h3>
                    <p>Ensuring education and health care facilities
                        every individual are two of the major objectives
                        to achieve by an ideal welfare state, obviously
                        because every individual can expect to enjoy these
                        two facilities as his or her basic right.
                        <br><br> Being
                        imbued with the noble spirit of patriotism and
                        the liberation war, I, along with my wife Hasna
                        Ahmad, establishd “Begum Gul Chemonara Trust”- a
                        philanthropic venture in 1982, in a place covering
                        one hundred areas of land beside Chittagong-Cox’s
                        bazar Highway, which is only 34 km away from
                        Chittagong city and named it after my late and
                        benevolent mother with the only objectives of
                        extending education .... <b>read more</b>
                    </p>
                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-lg-4">

                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="~/picture/sir105.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Engr. Afsar Uddin Ahmad ,
                            Chairman, Board of Trustees</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<div class="about_area">
    <div class="container">
        <div class="row">


            <div class="col-xl-4 offset-xl-1 col-lg-4">

                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="~/picture/sir106.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Professor, Dr. Saroj Kanti Singh Hazari,
                            Vice chancellor </p>
                    </div>
                </div>

            </div>

            <div class="col-xl-7 col-lg-8">
                <div class="single_about_info">
                    <h3>Message from <br>
                        <b>Vice Chancellor</b>
                    </h3>
                    <p>Welcome to BGC Trust University Bangladesh, a dynamic place for
                        higher education. The university is the only rural based private
                        university in the country situated at its own campus at the outskirts
                        of Chittagong port city popularly known as BGC Biddyanagar, Chandanaish,
                        Chittagong with all modern campus facilities.
                        <br>
                        The university is committed to achieving academic excellence
                        in research and academic scholastic. The university was founded
                        by a philanthropist Engr. Afsar Uddin Ahmad who has a commitment
                        to the soil as a front line freedom fighter to provide education
                        and to develop individuals, entrepreneurs to face the challenge of
                        globalizati....<b>read more</b>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>








<div class="container">

    <div class="gal-heading">
        <h1 class="font-weight-light  mt-4 mb-0"> Gallery</h1>

    </div>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event1.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event2.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event3.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event4.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event5.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event6.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event7.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event8.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event9.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event1.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event2.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="~/picture/event3.jpg" alt="">
            </a>
        </div>
    </div>

</div>






<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="syllabus-section">
                <h1>Get A Look At
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="syllabus-image">
                <img src="~/picture/education1.png" alt="">
                <img src="~/picture/education2.png" alt="">
                <img src="~/picture/education3.png" alt="">

            </div>
        </div>
    </div>



</div>
<div class="py-5 team4">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
                <h3 class="mb-3">Some Of Our Experienced & Professional Teachers</h3>
                <h6 class="subtitle">
                    Department of Computer Science and Engineering
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="row">
                    <div class="col-md-12 ">
                        <img src="~/picture/sir102.jpg" alt="wrapkit" class="img-fluid rounded-circle"/>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0"> Munmun Biswas</h5>
                            <h6 class="subtitle mb-3">Lecturer</h6>
                           

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-4">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/picture/sir101.jpg" alt="wrapkit" class="img-fluid rounded-circle"/>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0"> Nurul Absar</h5>
                            <h6 class="subtitle mb-3">Associate Professor</h6>
                           

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-4">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/picture/sir103.jpg" alt="wrapkit" class="img-fluid rounded-circle"/>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0"> Sabrina Jahan Maisha</h5>
                            <h6 class="subtitle mb-3">Lecturer</h6>
                            

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-4">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/picture/sir104.jpg" alt="wrapkit" class="img-fluid rounded-circle"/>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0"> Fariha Iffath</h5>
                            <h6 class="subtitle mb-3">Lecturer</h6>
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
