@using UniversityManagement.Models
@{
    //Layout = null;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MakePdf</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .lbl {
            width: 45em;
            font-family: Palatino Linotype;
            font-size: 19px;
        }

        .val {
            font-family: Times New Roman;
            font-size: 20px;
            margin-left: 60px;
        }


        .tab {
            margin-left: 126px;
            margin-top: 7em;
            margin-bottom: 2em;
        }
    </style>
</head>

<body>
   
</body>

</html>

