USE [master]
GO
/****** Object:  Database [UniversityDB]    Script Date: 12/1/2020 12:20:20 AM ******/
CREATE DATABASE [UniversityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\UniversityDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UniversityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\UniversityDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Credit] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DriverInformations]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverInformations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DriverName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[BusNo] [nvarchar](max) NULL,
	[RouteId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DriverInformations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Grades]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Point] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Grades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Libraries]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libraries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[BookPdf] [nvarchar](max) NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Libraries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Results]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[GradeId] [int] NOT NULL,
	[Date] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Results] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RouteInformations]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteInformations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleNo] [nvarchar](max) NULL,
	[RouteId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[StartTime] [nvarchar](max) NULL,
	[DepartureTime] [nvarchar](max) NULL,
	[DriverName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.RouteInformations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Routes]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoutesName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Routes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Semesters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[RegistrationNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[ContactNo] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[DepartmentId] [int] NOT NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[DepartmentId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/1/2020 12:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransportUser] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Email], [Password]) VALUES (1, N'rana@gmail.com', N'123456')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [CourseCode], [Name], [Credit], [DepartmentId], [SemesterId]) VALUES (1, N'CSE 1101', N'Computer Fundamental andApplications', 3, 1, 1)
INSERT [dbo].[Courses] ([Id], [CourseCode], [Name], [Credit], [DepartmentId], [SemesterId]) VALUES (2, N'CSE 1102', N'Computer Programming with C', 3, 1, 1)
INSERT [dbo].[Courses] ([Id], [CourseCode], [Name], [Credit], [DepartmentId], [SemesterId]) VALUES (3, N'CSE 1103', N'Physics-1', 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name]) VALUES (1, N'Computer Science & Engineering(CSE)')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (2, N'Bachalor of Business Administrator(BBA)')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (3, N'Bachalor of Law Degree(LLB)')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([Id], [Name], [Point]) VALUES (1, N'A+', 4)
INSERT [dbo].[Grades] ([Id], [Name], [Point]) VALUES (2, N'A', 3.75)
INSERT [dbo].[Grades] ([Id], [Name], [Point]) VALUES (3, N'A-', 3.5)
SET IDENTITY_INSERT [dbo].[Grades] OFF
SET IDENTITY_INSERT [dbo].[Libraries] ON 

INSERT [dbo].[Libraries] ([Id], [Name], [BookPdf], [DepartmentId], [SemesterId]) VALUES (1, N'Digital System Design', N'Book/digital-logic-and-computer-design-by-m-morris-mano-2nd-edition.pdf', 1, 7)
INSERT [dbo].[Libraries] ([Id], [Name], [BookPdf], [DepartmentId], [SemesterId]) VALUES (3, N'CP', N'Book/digital-logic-and-computer-design-by-m-morris-mano-2nd-edition.pdf', 1, 1)
INSERT [dbo].[Libraries] ([Id], [Name], [BookPdf], [DepartmentId], [SemesterId]) VALUES (4, N'JAVA', N'Book/digital-logic-and-computer-design-by-m-morris-mano-2nd-edition.pdf', 1, 3)
SET IDENTITY_INSERT [dbo].[Libraries] OFF
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([Id], [DepartmentId], [SemesterId], [StudentId], [CourseId], [GradeId], [Date]) VALUES (1, 1, 1, 1, 1, 1, N'09/14/2020')
INSERT [dbo].[Results] ([Id], [DepartmentId], [SemesterId], [StudentId], [CourseId], [GradeId], [Date]) VALUES (2, 1, 1, 1, 2, 1, N'09/24/2020')
INSERT [dbo].[Results] ([Id], [DepartmentId], [SemesterId], [StudentId], [CourseId], [GradeId], [Date]) VALUES (4, 1, 1, 2, 1, 1, N'09/25/2020')
SET IDENTITY_INSERT [dbo].[Results] OFF
SET IDENTITY_INSERT [dbo].[RouteInformations] ON 

INSERT [dbo].[RouteInformations] ([Id], [VehicleNo], [RouteId], [UserId], [StartTime], [DepartureTime], [DriverName], [Phone]) VALUES (1, N'STU-101', 1, 1, N'7:30 am', N'3:30 pm', N'Rafiq Mia', N'01814326325')
INSERT [dbo].[RouteInformations] ([Id], [VehicleNo], [RouteId], [UserId], [StartTime], [DepartureTime], [DriverName], [Phone]) VALUES (2, N'STU-102', 2, 1, N'7:40 am', N'3:30 pm', N'Shamim', N'01974325326')
INSERT [dbo].[RouteInformations] ([Id], [VehicleNo], [RouteId], [UserId], [StartTime], [DepartureTime], [DriverName], [Phone]) VALUES (3, N'STU-103', 1, 1, N'7:40 am', N'3:30 pm', N'Habib Mia', N'01874325326')
SET IDENTITY_INSERT [dbo].[RouteInformations] OFF
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([Id], [RoutesName]) VALUES (1, N'Agrabad')
INSERT [dbo].[Routes] ([Id], [RoutesName]) VALUES (2, N'GEC')
INSERT [dbo].[Routes] ([Id], [RoutesName]) VALUES (3, N'Oxygen')
SET IDENTITY_INSERT [dbo].[Routes] OFF
SET IDENTITY_INSERT [dbo].[Semesters] ON 

INSERT [dbo].[Semesters] ([Id], [Name]) VALUES (1, N'1st')
INSERT [dbo].[Semesters] ([Id], [Name]) VALUES (2, N'2nd')
INSERT [dbo].[Semesters] ([Id], [Name]) VALUES (3, N'3rd')
SET IDENTITY_INSERT [dbo].[Semesters] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [RegistrationNo], [Email], [ContactNo], [Address], [DepartmentId], [Password]) VALUES (1, N'Md Sayem Hossain', N'170228087', N'sayem@gmail.com', N'01653256326', N'CDA', 1, N'123456')
INSERT [dbo].[Students] ([Id], [Name], [RegistrationNo], [Email], [ContactNo], [Address], [DepartmentId], [Password]) VALUES (2, N'Piyal Majumder', N'170228069', N'piyal@gmail.com', N'01525632456', N'Cox''s bazar', 1, N'123456')
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([Id], [Name], [Email], [Designation], [Degree], [DepartmentId], [Image]) VALUES (1, N'Abdul Wahab', N'wahab_nstu@yahoo.com', N'Lecturer', N'B.Sc. (Eng.) in CSTE', 1, N'picture/Wahab.jpg')
INSERT [dbo].[Teachers] ([Id], [Name], [Email], [Designation], [Degree], [DepartmentId], [Image]) VALUES (2, N'Mohammad Abir Mahmud', N'abir1321025@gmail.com', N'Lecturer', N'B.Sc.(Engg.) in CSE', 1, N'picture/sir5.png')
INSERT [dbo].[Teachers] ([Id], [Name], [Email], [Designation], [Degree], [DepartmentId], [Image]) VALUES (3, N'Nurul Absar', N'nabsar05@yahoo.com', N'Associate Professor', N'M.Phil (CU), M.S in CSIT (SU)', 1, N'picture/96b950ee-82bd-43ab-86d2-57ca1ec6c108.png')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [TransportUser]) VALUES (1, N'Student')
INSERT [dbo].[Users] ([Id], [TransportUser]) VALUES (2, N'Teacher')
INSERT [dbo].[Users] ([Id], [TransportUser]) VALUES (3, N'Official')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Libraries] ADD  DEFAULT ((0)) FOR [DepartmentId]
GO
ALTER TABLE [dbo].[Libraries] ADD  DEFAULT ((0)) FOR [SemesterId]
GO
USE [master]
GO
